name: Master Deploy

on:
  push:
    branches:
      - main
      - master

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # Cache Rust dependencies
      - name: Cache Rust crates
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: rust-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-cargo-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2


      - name: Build Docker image
        run: docker build -t frontend .


      - name: Login to KTH Cloud
        uses: docker/login-action@v3
        with:
          registry: registry.cloud.cbh.kth.se
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push to KTH Cloud
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKER_TAG }}
